*{
    padding: 0;
    margin: 0;
}
header{
    display:flex;
    flex-direction:row; 
    margin-top:30px;
    height:70px;
}
.head{
    background:#ffff;
    z-index:999;
    margin:0 auto;
    position:sticky;
    top:0;
    left:0;
    right:0;
}
.nav1 li a:hover{
    color:#5FCF80;
    cursor:pointer;
}
.nav1{
    height: 29px;
    display: inline-block;
    margin-top:15px;
    margin-left:550px;
    overflow: hidden;
}
.nav1 a{
    margin-right:15px;
    font-size:18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
.nav1 a:hover{
    color:#5FCF80;
    cursor:pointer;
}
.head{
    background:#ffff;
    z-index:999;
    margin:0 auto;
    position:sticky;
    top:0;
    left:0;
    right:0;
}
.mentor{
    margin-left:30px;
    color:#5FCF80;
    font-size:30px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:2px;
    text-decoration: none;
    margin-top:15px;
}
.b3{
background-color:#5FCF80;
border:none;
border-radius:20px;
padding-left:10px;
}
.start{
    width:100%;
    height:160px;
    background-color:#5FCF80;
}
.about{
    text-align: center;
    font-size:30px;
    font-weight:bold;
    padding-top:25px;
    color:white;
    margin-top:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.Est{
    text-align: center;
    color:white;
    font-size:19px;
    padding:20px;
}
.courses{
    width:100%;
    height:600px;
    padding-top:30px;
    display:flex;
}
.cor1{
    height:525px;
    width:422px;
    margin-left:120px;
    border:1px solid #EEF1EE;
}
.cor2{
    height:525px;
    width:422px;
    margin-left:30px;
    border:1px solid #EEF1EE;
}
.cor3{
    height:525px;
    width:422px;
    margin-left:31px;
    border:1px solid #EEF1EE;
}
.bc1{
    margin-left:20px;
    margin-top:10px;
    width:170px;
    height:40px;
    font-size:17px;
    background-color:#5FCF80;
    color:white;
    border:1px solid #EEF1EE;
}
.bc2{
    margin-left:20px;
    margin-top:10px;
    width:120px;
    height:40px;
    font-size:17px;
    background-color:#5FCF80;
    color:white;
    border:1px solid #EEF1EE;
}
.cour:hover{
    color:#5FCF80;
}
.bc3{
    margin-left:20px;
    margin-top:10px;
    width:100px;
    height:40px;
    font-size:17px;
    background-color:#5FCF80;
    color:white;
    border:1px solid #EEF1EE;
}
.nav1 a:hover{
    color:#5FCF80;
    cursor:pointer;
}
.m1{
    float:right;
    margin-top:10px;
    margin-right:20px;
    font-size:25px;
    font-weight:bold;
    color:#37433A;
}
.na1{
    margin-left:20px;
    margin-top:14px;
    font-size:25px;
    color:#37433A;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.trainer1{
    display:flex;
}
.t1{
    margin-top:22px;
    margin-left:20px;
    border-radius:70px;
    margin-bottom:20px;
    display:flex;
    flex-direction:row;
}
.t1n{
    padding-top:30px;
    padding-left:10px;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#728279;
}
.t1s{
    margin-left:170px;
    padding-top:35px;
    color:#88998E;
}
.t2s{
    margin-left:199px;
    padding-top:35px;
    color:#88998E;
}
.t1l{
    margin-left:15px;
    padding-top:35px;
    color:#88998E;

}
.subs{
    font-size:20px;
    padding-top:31px;
    margin-left:4px;
    color:#88998E;  
}
.likes{
    font-size:20px;
    padding-top:30px;
    margin-left:4px;
    color:#88998E;
}
.links{
    margin-top:50px;
    height:400px;
    width:100%;
    color:#F9FAF9;
    display:flex;
}
.address{
    margin-left:130px;
    padding-top:80px;
    width:250px;
    height:220px;
}
.Mentor{
    font-size:28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.phone{
    margin-top:20px;
    color:#777777;   
}
.add{
    font-size:17px;
    margin-top:7px;
    color:#777777;    
}
.ph{
    font-weight:bold;
    font-size:24px;
}
.uslink{
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-family:bold;
}
.mail{
    
    font-weight:bold;
    font-size:24px;
}
.services{
    margin-left:40px;
    padding-top:90px;
    width:250px;
    height:260px;
    font-weight:bold;
}
.implink{
    margin-left:110px;
    padding-top:90px;
    width:250px;
    height:260px;
    font-weight:bold;
    font-weight:bold;

}
.arr{
    color:#5FCF80;
    margin-right: 10px;
}
.lis{
    margin-top:15px;
    font-size:18px;
    color:#777777;
}
.lis:hover{
    color:#5FCF80;
    cursor:pointer;
}
.lis1{
    margin-top:15px;
    font-size:18px;
    color:#777777;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.news{
    margin-left:40px;
    padding-top:90px;
    width:379px;
    height:260px;
    font-weight: bold;
}
.subscribe{
    margin-top:25px;
    height:40px;
    width:100%;
    border:1px solid #777777;
    border-radius:25px;
    display:flex;
}
.sub_but{
    margin-left:0px;
    width:150px;
    border-radius:25px;
    border:1px solid #777777;
    height:40px;
    font-size:20px;
    color:white;
    background-color: #5FCF80;
}
.inp1{
    margin-left: 15px;
    margin-top:2px;
    margin-bottom:1px;
    width:300px;
    border-style:none;
}
.inp1:hover{
    border-color:black;
}
.subscribe input[type="text"]{
    outline:none;
    border:none;
}
.footer{
    width:100%;
    height:120px;
    display:flex;
    margin-top:5px;
    background-color:#e5e5ea;
}
.f1{
    margin-top:30px;
    line-break:2px;
}
.cpy{
    margin-left:130px;
    font-size:18px;
    float:top;
}
.new{
    margin-top:20px;
    margin-left: 680px;
}
.social{
    padding-top:20px;
    padding-left:110px;
    display:flex;
}
.new{
    margin-top:20px;
    margin-left: 680px;
}
.p{
    margin-left:15px;
    color:#7F9487;
}